:root {
    --white: rgb(255, 255, 255);
    --transWhite: rgb(255, 255, 255, 0.5);
    --lightblue: rgb(208, 214, 249);
    --spaceblue: rgb(11, 13, 23);
}

body {
    background-image: url(Images/Home_Background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: auto; 
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/*nav:*/
.logo {
    width: 50px;
    height: 50px;
    margin: 0em 2.75rem 0em 2.75rem;
}

nav {
    width: 100vw;
    height: 6em;
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lineMenu{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.long-line{
    width: 35%;
    height: 1px;
    background-color: gray;
    float: left;
    opacity: 50%;
}

.menu {
    margin: 0%;
    width: 55vw;
    height: 100%;
    padding-left: 4em;
    display: flex;
    flex-direction: row;
    border-radius: 2px 0px 0px 2px;
    background: rgb(255, 255, 255, 0.04);
    backdrop-filter: blur(20px);
}

.navBtn {
    width: 12em;
    margin-right: 0.5;
    margin-left: 0.5em;
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: none;
    border: 0px;
    color: white;
}

.btn-text {
    margin-bottom: 2.2rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    letter-spacing: 2.7px;
}

.selected-line {
    margin: 0%;
    width: 70%;
    height: 2px;
}

.navBtn:hover .selected-line{
    background-color: rgb(255, 255, 255, 0.5);
}

#selected-01{
    background-color: white;
}

.menu-title {display: none;}
/*nav.*/

/*main:*/

main {
    width: 75vw;
    height: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

#content{
    width: 75vw;
    height: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.division {
    width: auto;
    min-width: 28rem;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#left-side {
    min-width: 200px;
}

#right-side {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    min-width: 250px;
}

.subtitle {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    letter-spacing: 4.75px;
    margin: 0%;
    color: var(--lightblue);
}

.title {
    font-family: 'Bellefair', serif;
    font-size: 150px;
    font-weight: 350;
    margin: 0em;
    color: var(--white);
}

.text {
    max-width: 430px;
    font-family: 'Barlow', sans-serif;
    font-size: 17px;
    letter-spacing: normal;
    text-align: left;
    color: var(--lightblue);
    line-height: 1.6;
}

.btn-explore {
    width: 250px;
    min-width: 200px;
    aspect-ratio: 1/1;
    border-radius: 10em 10em 10em 10em ;
    border-color: rgb(255, 255, 255, 0);
    font-family: 'Bellefair', serif;
    font-size: 35px;
}

.btn-explore:hover {
    background-color: rgb(255, 255, 255, 0.2);
}

/*main.*/

/*Pagina 01:*/

#page01{
    width: 75vw;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.titleNum{
    font-weight: 700;
    color: var(--transWhite);
}

#content-pg01 {
    width: 75vw;
    height: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.division-01 {
    width: auto;
    max-width: 420px;
    height: 470px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#ls-01{
    justify-content: flex-end;
}

#planet-image {
    width: 26em;
    height: 26em;
}

.menu-pg01 {
    width: 30vw;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.navBtn-01 .btn-text{
    margin-bottom: 0.5em;
}

.navBtn-01{
    width: auto;
    margin-right: 2em;
    margin-left: 0em;
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: none;
    border: 0px;
    color: var(--lightblue);
}

.navBtn-01:hover .selected-line{
    background-color: rgb(255, 255, 255, 0.5);
}

.title-pg01 {
    width: auto;
    font-family: 'Bellefair', serif;
    font-size: 100px;
    font-weight: 300;
    margin: 0em;
    color: var(--white);
}

#footer-pg01{
    /* max-width: 420px; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#lineSeparator {
    width: 100%;
    height: 1px;
    background-color: var(--transWhite);
}

.bottom-info{
    margin-right: 4em;   
}

.bottom-info p {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    letter-spacing: 2.7px;
    color: var(--lightblue);
}

.bottom-info h2 {
    margin: 0px;
    font-family: 'Bellefair', serif;
    font-weight: 100;
    font-size: 26px;
    color: var(--white);
}


/*Pagina 01.*/
